<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/cart_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
        <div>
            <input type="text" name="search" id="search">
            <a href="/profile"><button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button></a>
            <a href="/cart"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>

 <h1 id="yourCart">Your Cart</h1>
    
    <section>
        <p>Subtotal</p>
        <p>Tax</p>
        <br>
        <p>Total</p>
    <button type="submit">Checkout</button>
    </section>
</body>

</html>