<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/createaccount_style.css" type="text/css"
    rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header> 
        <a href=""><button type="button" id="logoButton">
            <img src="/img/logo.png" alt="Community Marketplace" id="logo" height="125">
        </button></a>
        <div>
            <a href="/loginpage"><button type="button" id="headerbutton">
                <p>Log In</p>
            </button>
            </a>
        </div>
    </header>
    <h1 id="title">
        Create Account
    </h1>
    <section> <!--entry for account information-->
        <form action="/createaccountgo" method="post" class="accountForm">
            <div class="accountLabel">First Name:</div>
            <input type="text" name="FirstName" id="firstName" class="textbox"></input>
            <div class="accountLabel">Last Name:</div>
            <input type="text" name="LastName" id="lastName" class="textbox"></input>
            <div class="accountLabel">Username:</div>
            <input type="text" name="Username" id="username" class="textbox"></input>
            <div class="accountLabel">Password:</div>
            <input type="password" name="Password" id="password" class="textbox"></input>
            <div class="accountLabel">Group Code:</div>
            <input type="text" name="GroupCode" id="groupCode" class="textbox"></input>
            <div><a href="/home"><input type="submit" value="Create Account" id="createAccount"></input> <!--calls creation of an account with the given information in the textboxes-->
            </a>
            </div>
        </form>
    </section>
    <script src="/js/createaccount.js"></script>
</body>
</html>