<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/createaccount.css" type="text/css"
    rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
        <div>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="/cart.html"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>
    <h1>
        Create Account
    </h1>
    <div class="center">
        <form action="/createaccount" method="post">
            First Name:
            <input type="text" name="FirstName" id="firstName" class="textbox"></input>
    <br><br>
            Last Name: 
            <input type="text" name="LastName" id="lastName" class="textbox"></input>
    <br><br>
            Username:  
            <input type="text" name="Username" id="username" class="textbox"></input>
    <br><br>
            Password:   
            <input type="password" name="Password" id="password" class="textbox"></input>
    <br><br>

            <a href="/grouplogin"><input type="submit" value="Create Account" id="createAccount"></input>
    </a>
        </form>
</div>
    <script src="/js/createaccount.js"></script>
</body>
</html>