<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/grouplogin_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="/cart"><button type="button" id="cart">
                <img src="cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>

    <a href="/getNewCode"><button type="button" id="getNewCode">
        <h1>Create a Community</h1>
    </button>
    </a>

    
   <!--  <form method="get" action="/getNewCode" id="newCode">
        <h1>New Group Code:</h1>
        <a id="test">test</a>
    </form> -->

    <!-- <form method="get" action="/getNewCode" id="getNewCode">
        <button type="button" value="generateCode" id="generateCode">
            <p>Generate a Group Code</p>
        </button>
    </form>   -->

</body>

</html>