<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/createaccount.css" type="text/css"
    rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div>
            <a href="/login"><button type="button" id="login">
                <p>Log In</p>
            </button>
            </a>
        </div>
    </header>
    <h1>
        Create Account
    </h1>
    <div class="center">
        <form action="/createaccountgo" method="post">
            First Name:&nbsp
            <input type="text" name="FirstName" id="firstName" class="textbox"></input>
    <br><br>
            Last Name:&nbsp;&nbsp;
            <input type="text" name="LastName" id="lastName" class="textbox"></input>
    <br><br>
            Username:&nbsp;&nbsp;&nbsp;
            <input type="text" name="Username" id="username" class="textbox"></input>
    <br><br>
            Password:&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" name="Password" id="password" class="textbox"></input>
    <br><br>
            Group Code:&nbsp;&nbsp;
            <input type="text" name="GroupCode" id="groupCode" class="textbox"></input>
    <br><br>

            <a href="/grouplogin"><input type="submit" value="Create Account" id="createAccount"></input>
    </a>
        </form>
</div>
    <script src="/js/createaccount.js"></script>
</body>
</html>