<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/grouplogin_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="/cart"><button type="button" id="cart">
                <img src="cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>

    <a href="/createcode"><button type="button" value="createCode" id="createCode">
        <p>Create a Group</p>
    </button>
    </a>
    <a href="/grouplogin"><button type="button" value="enterCode" id="enterCode">
        <p>Join a Group</p>
    </button>
    </a>
</body>

</html>