<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../public/css/grouplogin_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="../views/cart.html"><button type="button" id="cart">
                <img src="../public/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>

    <h1 id="groupcode">Group Code:</h1>
 <section>
    <input type="text" name="groupCodeInput">
</section>
</body>

</html>