<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../public/css/Help_styles.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="../views/cart.html"><button type="button" id="cart">
                <img src="../public/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
    </header>

 <h1 id="Help?">How Can We Help?</h1>
 <div>
    <button type="button" value="Your Account" id="Account">
            <p>Your Account</p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Orders" id="Orders">
            <p>Orders</p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Purchases" id="Purchases">
            <p>Purchases </p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Settings" id="Settings">
            <p>Settings</p>
        </button>
 </div>
</body>

</html> 