<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/Help_styles.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div>
            <a href="/search"><input type="text" name="search" id="search">
            </a>
            <a href="/profile"><button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button></a>
            <a href="/cart"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>

 <h1 id="Help?">How Can We Help?</h1>
 <div>
    <button type="button" value="Your Account" id="Account">
            <p>Your Account</p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Orders" id="Orders">
            <p>Orders</p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Purchases" id="Purchases">
            <p>Purchases </p>
        </button>
 </div>
 <br>
 <div>
    <button type="button" value="Settings" id="Settings">
            <p>Settings</p>
        </button>
 </div>
</body>

</html> 