<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/home_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
        <div>
            <input type="text" name="search" id="search">
            
            <a href="/profile"><button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button></a>
            <a href="/cart"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
            <a href="/createaccount"><button type="button" id="createaccount">
                <p>Create Account</p>
            </button>
            </a>
        </div>
    </header>    
</body>

</html>
