<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/cart_style.css" type="text/css"
    rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="/cart"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
    </header>
    <h1>
        Login Page
    </h1>
    <input type="text" name="Username" id="username">
    <br><br>
    <input type="text" name="Password" id="password">
    <br><br>
    <button type="button" value="Login" id="login">Login</button>
    <script src="/js/login.js"></script>
</body>
</html>