<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form action="/newPost" method="post">
        Description for Post
        <input type="text" name="Description" id="desc"></input>
        Upload Image!
            <form action="/imageUpload" method="post">
            <input type="file" accept="image/png, image/jpeg" name="Image" id="image" enctype="multipart/form-data"></input>
            <input type="submit" value="Create Post" id="createPost"></input>
            </form>
    </form>
    <form action="/imageUpload" method="post">
        <input type="file" accept="image/png, image/jpeg" name="Image" id="image" enctype="multipart/form-data"></input>
        <input type="submit" value="Push me First" id="createImage"></input>
    </form>
    
    <script src="/js/post.js"></script>
</body>
</html>