<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../public/css/Profile_style.css"
    rel="stylesheet">
</head>
<body>
    <header>
        <h1>Community Marketplace</h1>
            <input type="text" name="search" id="search">
            <button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button>
            <a href="../views/cart.html"><button type="button" id="cart">
                <img src="../public/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
    </header>

 <h1 id="Help?">Your Profile</h1>

 <side>
    <h2 id="messages">Messages</h2>
    <h2 id="purchases">Purchases</h2>
    <h2 id="orders">Orders</h2>
    <h2 id="settings">Settings</h2> 
 </side>
</html>