<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/profile_style.css" rel="stylesheet">
</head>
<body>
    <header class="main">
        <img src="/img/logo.jpg" alt="Community Marketplace" id="logo" height="60">
        <div id="head">
            <a href="/search"><input type="text" name="search" id="search">
            </a>
            <a href="/profile"><button type="button" value="profile" id="profile">
                <p>Profile</p>
            </button></a>
            <a href="/cart"><button type="button" id="cart">
                <img src="/img/cart.png" alt="cart" width="30" height="30">
            </button>
            </a>
        </div>
    </header>
   <div class="sidebar">
    <a href="">Messages</a>
    <a href="">Purchases</a>
    <a href="">Orders</a>
    <a href="">Settings</a>
    <a href="/post">New Post</a>
    <a href="/grouplogin">Group Login</a>
    <a href="/help">Help</a>



   </div>

   <div class="main">
    <h1>Profile</h1>
    <p>
        <img src="/img/profile.png" alt="Profile" width="20" height="20">
        <br/>Username
        <br/>Edit Profile       
    </p>
   </div>
</body>
</html>