/* full page*/
html{
    background-color:white;
}

/* full header container */
header{
    position:relative;
    display:flex;
    border-bottom: 7px #FFAE00 solid;
    padding:5px;
    justify-content:space-between;
}

#christmas{
    padding-bottom:5%;
}

header:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    border-bottom: 7px #00152E solid;
  }


/* header (only links) container */
#headerLinks {
    display:flex;
    justify-content:space-between;
    line-height:90px;
justify-content:flex-end;
}

/* links (items)*/
#headerLinks > span {
   padding: 5px;
}

#logoButton{
    background:none;
    border:0px;
}

#cart, #profile{
    height:100px;
    background:none;
    border:0px;
}

/* both parts of search */
#searchButton, #search{
    border:3px black solid;
    border-radius:7px;
    background:#FF8400;
}

/* search button */
input[type=submit]{
    border:3px black solid;
    border-radius:7px;
    font-size:115%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

/* Your Cart title */
#title{
    display:flex;
    justify-content:center;
    color:#00152E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: -1px 0 #FFAE00, 0 1px #FFAE00, 1px 0 #FFAE00, 0 -1px #FFAE00;
}

section{
    display: flex;
    border: 3px black solid;
    border-radius:20px;
    padding:5%;
    padding-right: 15%;
   padding-left: 7%;
   flex-direction: column;
   float:right;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size:larger;
   font-weight: bold;
 }

 #checkout{
    border:3px black solid;
    border-radius:7px;
    font-size:115%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    background:#FFAE00;
 }

 
