header{
    display: flex;
    border: 2px orange solid;
    padding: 10px;
    line-height: 20px;
    justify-content: flex-end;
    gap: 10px;
    font-size:large;
}
#search{
    display:block;
    width:50%;
}


