header{
    display: flex;
    border: 2px orange solid;
    padding: 10px;
    line-height: 20px;
    justify-content: space-between;
    gap: 10px;
    font-size:large;
}

#title {
    align-self: flex-start;
}

div {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 15px;
    align-self: center;
    display:block;
    width:50%;
}

#profile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}


