header{
    display: flex;
    border: 2px orange solid;
    padding: 10px;
    line-height: 20px;
    justify-content: space-between;
    gap: 10px;
    font-size:large;
}

#title {
    align-self: flex-start;
}

div {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 15px;
    align-self: center;
    display:block;
    width:50%;
}
.center{
    display: flex;
    margin: auto;
    width: 30%;
    height: 50%;
    border: 5px green;
    padding: 150px;
    flex-direction: column;
}
.textbox{
    height: 18px;
    width: 300px;
}
#profile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}


