
header{
    display: flex;
    border: 2px orange solid;
    padding: 10px;
    line-height: 20px;
    justify-content: flex-end;
    gap: 10px;
    font-size:large;
}
#search{
    display:block;
    width:50%;
}
.center{
    display: flex;
    margin: auto;
    width: 30%;
    height: 50%;
    border: 5px green;
    padding: 150px;
    flex-direction: column;
}
.textbox{
    height: 18px;
    width: 300px;
}

