header{
    display: flex;
    border: 2px orange solid;
    padding: 10px;
    line-height: 20px;
    justify-content: space-between;
    gap: 10px;
    font-size:large;
}

#title {
    align-self: flex-start;
}

#head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 15px;
    align-self: center;
    display:block;
    width:50%;
}

#profile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: violet;
    overflow-x: hidden;
    padding-top: 20px;
}
.main{
    margin-left: 160px;
    padding: 0px 10px;

}