html{
    background-color:white;
}

/* full header container */
header{
    position:relative;
    display:flex;
    border-bottom: 7px #FFAE00 solid;
    padding:5px;
    justify-content:space-between;
}

#christmas{
    padding-bottom:5%;
}

header:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    border-bottom: 7px #00152E solid;
  }


/* header (only links) container */
#headerLinks {
    display:flex;
    justify-content:space-between;
    line-height:90px;
justify-content:flex-end;
}

/* links (items)*/
#headerLinks > span {
   padding: 5px;
}

#title{
    display:flex;
    justify-content:center;
    color:#00152E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-shadow: -1px 0 #FFAE00, 0 1px #FFAE00, 1px 0 #FFAE00, 0 -1px #FFAE00;
}

#logoButton{
    background:none;
    border:0px;
}

#cart, #profile{
    height:100px;
    background:none;
    border:0px;
}

/* both parts of search */
#searchButton, #search{
    border:3px black solid;
    border-radius:7px;
    background:#FF8400;
}

/* search button */
input[type=submit]{
    border:3px black solid;
    border-radius:7px;
    font-size:115%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

section{
    display: flex;
    background-color:#FFAE00;
   padding:3% 3% 20% 3%;
   flex-direction: column;
   width:10%;
   float:left;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size:larger;
 }

 section > a{
   color:#00152E;
    padding-top:7%;
 }

 #editprofile{
    display:flex;

 }
 #profileimage{
    padding-left:2%;
 }
span{
    display:flex;
    flex-direction: column;
}
 span > div{
    color:#00152E;
    font-size:130%;
    font-weight:bold;
    padding:1% 2% 0% 2%;
    align-content:center;
 }
 #editProfile{
    text-decoration: underline;
 }

/* header{
    display: flex;
    border: 2px rgb(128, 179, 126) solid;
    padding: 10px;
    line-height: 20px;
    justify-content: space-between;
    gap: 10px;
    font-size:large;
}


#title {
    align-self: flex-start;
}

#head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    height: 15px;
    align-self: center;
    display:block;
    width:85%;
}

#profile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: violet;
    overflow-x: hidden;
    padding-top: 100px;
}
.sidebar a{
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}
.main{
    margin-left: 160px;
    padding: 0px 10px;

}

#cart{
    height:50px;
    width:50px;
} */